.gallery {
    --space: 4px;
    --min-height: 190px;
    --last-row-background: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--space);
    margin: 0 !important; /* We use !important to avoid gaps in some environments. */
    padding: 0 !important; /* We use !important to avoid gaps in some environments. */
    list-style: none;
}

.gallery > * {
    position: relative;
    display: flex;
    flex-grow: calc(var(--width) * (100000 / var(--height)));
    flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
    overflow: hidden;
    margin: 0 !important; /* We use !important to avoid gaps in some environments. */
    padding: 0 !important; /* We use !important to avoid gaps in some environments. */
    aspect-ratio: var(--width) / var(--height);
}
.gallery > * > * > img {
    width: 100%;
    height: 100%;
  }

  .gallery::after {
    content: " ";
    flex-grow: 1000000000;
    background: var(--last-row-background);
  }
